extends layout

block content
    h1= title
    p Enter a URL to create a link for

    div.container
        div.row
            h4

            div.row
                form(id="eventForm", class="submissionForm")
                    p
                    input(id="urltext",      type="url",    value="http://www.google.com")
                    p
                    input(id="submitButton", type="button", value="Submit"  )

            script.
                $('#urltext').keydown(function(e) {
                    if (e.keyCode == 13) {
                        e.preventDefault();
                        $("#submitButton").click();
                    }

                });
                $("#submitButton").click(function () {
                    var url_submission = $("#urltext").val();
                    $.post('/', {submitted_url: url_submission})
                            .done(function (data) {
                                $('#lblResponse').html('Help');
                                $('#original').html(data.submitted_url);
                                $("#newurl_link").html(data.base_url + '/' + data.generated_id);
                                $('#original').attr('href', data.submitted_url);
                                $("#newurl_link").attr('href', data.base_url + '/' + data.generated_id);
                            });
                });

            div.row
                p
                    | Your original URL is:
                    a(id='original', href='_blank') #{submitted_url}
                p
                    | Your shortened URL is:
                    a(id='newurl_link', href='_blank' )
