doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
  body
      block content
      div(id="links")
          hr
        table
            tr
                td
                    a(href='./') Submission Page
                td
                    a(href='./show') Listing Page

      p= pid
