extends layout

block content
    h1= title
    p
        u Showing all saved entries

    div.container
        div.row

    table
        each row in rows
            tr
                td
                    a(href=base_url + row.id)= row.id
                td
                    a(href=row.long_url)= row.long_url
