body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #2a6496;min-height: 100%;
}

h1 {
    color: #0086b3;
}

a {
    color: #030b4e;
    padding-left: 10px;
}

#urltext {
    text-align: center;
    width:600px;
    height: 30px;
    font-size:1.5em;
    border-radius:8px;
}

#submitButton {
    text-align: center;
    border-radius:10px;
}

td {
    border: solid black 1px;
    background-color: white;
    color: black;
    padding: 5px;
}
#links {position: relative;
    margin-top: 300px;
}